__pycache__/
*.pyc
.git
.gitignore
.env
logs/
checkpoints/
runs/
dataset/
datasets/
eval_tmp/
tf-logs/
build/
cmake-*/
FFmpeg/
x264/
miniconda3/
.cache/
*.ipynb_checkpoints
*.tar.gz
*.md
weights/
dataset/
